<section class="profile_user">

	<div class="profile_picture">
		<img src="../public/uploads/<%= user.img %>" alt="" />
	</div>
	<div class="profile_info">
		<h2 class="profile_name"><%= username %></h2>
		<p class="profile_age"><%= user.dob %></p>
		<h2>Bio</h2>
		<% if(user.bio.length === 0){ %>
		<p class="profile_helpermsg">
			Voeg een beschrijving toe toe via
			<a href="/settings">het settings menu!</a>
		</p>
		<% } else { %>
		<p class="profile_bio"><%= user.bio %></p>
		<% }; %>
	</div>
	<div class="profile_festival">
		        <h2>Gaat naar:</h2>
		        <% if(!user.events){ %>
		        <p>
		            You don't seem to have liked any events, like some events to find matches.
		        </p>
		        <% } %> <% if(user.events) { %>
		        <div class="event-container profile">
		            <% for(var i =0; i < user.events.length; i++){ %> <%-
		            include("../partials/event", {events:user.eventObjects, i:i,
		            action:"removeEvent", value:"Remove from profile"}) %> <% } %>
		        </div>
		        <% } %>
		    </div>
	
	<div>
		<% if (user.session == user.id){ %>
		<a class="link__button" href="/addevent">Voeg festival toe</a>
		<% } %>
	</div>
	<% if (user.session != user.id) { %>
        <% include ../partials/like.ejs %>
    <% } %>
    
    <% include ../partials/iliked.ejs %>
</section>
